$color-bacground: #0b4e70;
$font-stack-primary: "Helvetica Neue";
$service-font-color: white;
$service-link-color: #3f8671;
$bg-white: white;

body {
	
	font-family: $font-stack-primary;
	background-color: #0b4e70;	
	
}

/* Navbar */

.navbar{
	
	background-color: $bg-white;	
	
}

.navbar-nav {
	
	margin-left: auto;
	margin-right: 18%;;	
	margin-top: 70px;
	background-color: $bg-white;
	
	a {
		
		padding-right: 15px !important;
		padding-left: 15px !important;
		margin-right: 20px;
		font-size: 14px;
		text-align: center;
		font-weight: 200;
	}
	
} /* end .navbar-nav*/

.nav-pills .nav-link.active {
	
    color: #FFFFFF !important;
    background-color: black;
	border-radius: 0em;
	
}

/*Main top section*/

.jumbotron {
	
	background-color: $bg-white;
	padding-bottom: 0px;
	margin-bottom: 0px;
	
	
	 h1 {
		 
		letter-spacing: 0.15em;
		font-size: 2em;
		font-weight: 200;
		margin-left: 10%;
		margin-right: 5px;	
		
	}
	
	p {
		
		position: relative;
		margin-bottom: 0;
		font-size: 18px;
		margin-left: 10%;
		margin-right: 10px;
		letter-spacing: 0.07em;
		font-weight: 400;
		color: gray;
		padding-top: 10px;
		
	}
	
} /* end .main-header-content*/

/*rectangle and logo vector graphics*/
/* to keep sizing both elements .logo & .rectangle I set relative on .main-content & .logo as well as I set absolut position for
rectangle element*/
.main-content {
	
	position: relative;
	background-color: transparent;	
	width: 100%;
	margin-right: 0px;
	overflow: hidden;
	
}

.logo {
	
	position: relative;
	width: 60%;
	right: -52%;	
	
}

.rectangle {
	
	position: absolute;
	left: 0;
	top: 50%;	
	
}

/*service section*/

#service-add {
	
	/*-- cuted bacground in div to pair with logo 
	position: relative;
	-webkit-clip-path: polygon(0 0, 100% 32%, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 32%, 100% 100%, 0% 100%);
	margin-top: -20%;
	padding-top: 200px;
	 /cuted bacground in div to pair with logo --*/
	margin-top: -10%;
	text-align: center;
	padding-bottom: 100px;
	img {
		
		position: relative;
		max-height: 80px;
		margin: 30px 0;
		transition: all .2s ease-in-out;
		&:hover {
			
			transform: scale(1.1);
			
		}
	}	
	a {
		
		text-decoration: underline;
		color: $service-link-color;
		font-size: 14px;
		&:hover {
			color: $service-font-color;	
				
		}
	}
	h5 {
		
		font-size: 18px;
		font-weight: 200;
		color: $service-font-color;	
		
	}
	
	p  {
		
		font-size: 14px;
		margin-top: 0px;
		color: $service-font-color;
		font-weight: 400;
		
	}
	
} /* end #service-add*/

.bar-separator {
	margin-bottom: 0px;
	content: "";
	background-color: #212934;
	height: 30px;		
}

/*breakpoints and sizeing of logo and rectangle graphic */

@media (min-width: 505px){
	.main-header-content {
		 h1 {
			letter-spacing: 0.15em;
			font-size: 32px;
			font-weight: 200;
			margin-left: 10%;
		}
		p {
			margin-bottom: 5%;
		}
	}
}

@media (min-width: 768px){
	.main-header-content {
	h1 {
		letter-spacing: 0.15em;
		font-size: 30px;
		font-weight: 200;
		margin-left: 10%;
		}
	p {
		margin-bottom: -10%;
		font-size: 12px;
	  }
	}
}

@media (min-width: 990px){
	.main-header-content {
	h1 {
		letter-spacing: 0.15em;
		font-size: 36px;
		font-weight: 200;
		margin-left: 10%;
		}
	p {
		font-size: 14px;
	 	}
	}
}

@media (min-width: 1200px){
	.main-header-content {
	h1 {
		letter-spacing: 0.15em;
		font-size: 42px;
		font-weight: 200;
		margin-left: 10%;
		}
	p {	
		font-size: 16px;
		}
	}
}
